
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}
 /* header */
 .navbar .navbar-brand h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #DE5879;
 }
 .navbar .navbar-nav .nav-item a{
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s;
    color: #2C3038;
 }
 .navbar .navbar-nav .nav-item .nav-link.active {
    color: #DE5879;
 }
 .navbar .navbar-nav .nav-item .dropdown_icon i{
    font-size: 10px;
    position: absolute;
    right: 5px;
    top: 32px;
 }
 .navbar a.nav-link::before, .navbar a.dropdown-item::before {
    position: absolute;
    content: '';
    background: #DE5879;
    width: 0px;
    height: 2px;
    bottom: 0px;
    transition: all 0.5s;
}
.navbar .nav-item a.nav-link::before{
    bottom: 20px;
}
.navbar a.nav-link:hover::before, .navbar a.dropdown-item:hover::before {
    width: 20px;
}
.navbar a.nav-link:hover, .navbar a.dropdown-item:hover{
    color: #DE5879;
}
.navbar .search i{
    color: #5a5a5a;
    font-size: 15px;
    opacity: 0.7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #F7F9FC;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #eee;
    transition: all 0.5s;
}
.navbar .search i:hover{
    color: #2C3038;
    opacity: 1;
}
.navbar .btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}
.navbar .btn {
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    padding: 0px 30px;
    transition: all 1s;
    text-transform: uppercase;
}
.navbar .btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.navbar .schedule a:hover{
    outline: 0;
}
header{
    background-color: #fff;
    padding: 0px;
    height: 90px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}



/* banner */
.banner{
    margin-top: 80px;
}
.banner_bg {
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.8)), url(../img/banner.jpg);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 80px;
}
.banner_start h2{
    font-size: 50px;
    line-height: 60px;
    color: #2C3038;
    font-weight: 700;
}
.banner_start p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}
.banner_btn .btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}
.banner_btn .btn {
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    padding: 0px 20px;
    transition: all 1s;
    text-transform: uppercase;
}
.banner_btn .btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.banner_btn a:hover{
    outline: 0;
}

/* tools */
.tools_text {
    max-width: 750px;
    margin: 0 auto;
}
.tools_text h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.tools_text h2 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.tools_text p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin: 16px 0;
}
.tools_item a{
    text-decoration: none;
}
.tools_item {
    border-radius: 6px;
    transition: all 0.5s;
    background: #F7F9FC;
    padding: 3rem 2rem;
    border: 1px solid #F7F9FC;
}
.tools_item h3{
    color: #2C3038;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    margin: 16px 0;
}
.tools_item p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 25px;
}
.tools_item:hover {
    transition: all 0.5s;
    background: #fff;
    border: 1px solid #f8f9fa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}


* SERVICES PAGE  */
/* services  */
.services h2{
    font-size: 46px;
    text-align: center;
    font-weight: 800;
    padding: 30px;
}
.services .content_left h3{
    font-size: 42px;
    font-weight: 600;
}
.services .content_left h4{
    color:#999;
    padding: 30px 0;
}

.services .content_left button {
    color: #fff;
    background-color: #dc4f72;
    border-style: none;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    padding: 0px 30px;
    margin: 30px 0;
    transition: all 0.5s;
}
.services .content_left button:hover{
background-color: #CF2952;
}
.services .content_right .item {
    padding-bottom: 30px;
    padding-right: 30px;
}
.services .item .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #F7F9FC;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}
.services .content_right h5{
    font-weight: 700;

}

/* features .services */
.features_services .title h6{
   color: #DC4F72;
   font-weight: 700;
}
.features_services .title h2{
    font-size: 46px;
    font-weight: 700;
}
.features_services .title p {
    color: #656f7b;
    padding-bottom: 30px;
}
.features_services .content .item , 
.features_services .content .bg {
    padding: 0 40px;
}
.features_services .content h3{
    font-size: 38px;
    font-weight: 700;
}
.features_services .content p{
    color: #656f7b;
    
}
.features_services .content img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: all 0.5s;
}
.features_services .content img:hover{
    transform: translateY(-10px);
}
.features_services .item li{
    list-style: none;
    line-height: 35px;
}

.features_services .item li i{
    color: #dc4f72;
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    opacity: 0.5;
    display: inline-block;
}
.features_services .item li span{
    color: black;
}
.features_services .item button {
    color: #fff;
    background-color: #dc4f72;
    border-style: none;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    padding: 0px 30px;
    margin: 30px 0;
    transition: all 0.5s;
}
.features_services .item button:hover{
background-color: #CF2952;
}

/* products */
.products .title h6{
    color: #DC4F72;
    font-weight: 700;
 }
 .products .title h3{
     font-size: 46px;
     font-weight: 700;
 }
 .products .title p {
     color: #656f7b;
     padding-bottom: 30px;
 }

 .products .bg img{
    border-radius: 50%;
    width: 100%;
    transition: all 0.5s;
    
 } 
 .products .bg img:hover{
    transform: translateY(-10px);
 }
 .products .number span{
    font-size: 20px;
    color:#dc4f72;
    background:#FFFFFF;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    font-weight: 700;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}
.products .item{
    padding-bottom: 30px;
}
.products .document h4{
    font-weight: 800;
    font-size: 18px;
    transition: all 0.5s;
}
.products .document h4:hover{
    color: #DC4F72;
}
.products .document p{
    color: #656f7b;
}

* ABOUT PAGE  */
/* about  */
.about  h2 {
    font-size: 46px;
    font-weight: 800;
    text-align: center;
}
.about .about_content h3{
    font-size: 36px;
    font-weight: 600;
}

.about .about_content p{
    color: #5a5a5a;
    line-height: 24px;
}
.about .about_content li{
    list-style: none;
    line-height: 35px;
}

.about .about_content li i{
    color: #dc4f72;
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    opacity: 0.5;
    display: inline-block;
}
.about .about_content span {
    color: black;
    font-weight: 600;
}
.about .about_bg img{
    transition: all 0.5s;
}
.about .about_bg img:hover {
    transform: translateY(-10px);
}

/* news */
.news .new_content p{
    color: #5a5a5a;
    line-height: 25px; 
}

/* features */
.features{
    background-color: #F7F9FC;
    padding: 50px 0;
}
.features .features_expert h6{
    color: #DC4F72;
    font-weight: 700;
}
.features .features_expert h3{
    font-size: 46px;
    font-weight: 700;
}
.features .features_expert p{
    color: #5a5a5a;
    padding-bottom: 30px;
}
.features .item_bg{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}

.features .feat_item  {
    width: 100%;
    height: 250px;
    text-align: center;
    transition: all 0.3s ease;
    padding: 0 30px;
}
.features .feat_item:hover{
    padding: 0  30px;
}
.features .feat_item:hover i{
    top: -40px;
}
.features .feat_item:hover h4{
    top: -80px;
}
.features .item i{
    position: relative;
    background-color: #dc4f72;
    color: white;
    font-size: 26px;
    display: inline-block;
    top: 60px;
    margin-bottom: 68px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    transition: all 0.3s ease;
    border-radius: 100%
}
.features .item h4{
  position: relative;
  top: 10px;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #000;
  font-size: 23px;
  line-height: 28px;
  font-weight: 700;
}

.features .item_hidden {
    margin: -6em auto 0;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.features .item_hidden p {
color: #5a5a5a;
line-height: 25px;
margin: 20px 0;
}
.features .item_hidden a{
    color: #DE5879;
    font-weight: 700;
    text-decoration: none;
}
.features .item_hidden a:hover{
    text-decoration: underline;
}
.features .feat_item:hover .item_hidden{
    opacity: 1;
}
.features .feat_item:hover .item_hidden a{
    top: -60px;
}

/* carousel */
.carousel .item{
    padding: 50px;
}
.carousel .item img {
    filter: grayscale(100%);
    transition: all 0.5s;
}
.carousel .item img:hover{
    filter: grayscale(0);
} 

/* team_members */
.team_members{
    background-color: #F7F9FC;
}
.team_members .title h6{
color: #dc4f72;
font-weight: 700;
}
.team_members .title h3{
    font-size: 46px;
    font-weight: 700;
}
.team_members .title p{
    color: #5a5a5a;
    padding: 20px 0;
}
.team_members .bg img{
    width: 100%;
    height: 250px;
    border-radius: 8px 8px 0 0;
}
.team_members .name{
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 0 0 8px 8px;
}
.team_members .name h4{
    font-size: 26px;
    font-weight: 700;
    transition: all 0.3s;
}
.team_members .name span {
    color: #5a5a5a;
}
.team_members .icon {
padding-top: 20px;
}
.team_members .icon a {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}
.team_members .icon i{
    color: white;
}
.team_members a.fb{
    background-color:#3B5998;
}
.team_members a.tw{
    background-color: #1DA1F2;
}

.team_members .infor_name:hover h4{
    color: #DC4F72;
}
.team_members .infor_name{
  transition: all 0.5s;
    
}
.team_members .infor_name:hover{
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}

/* brand  */
.brand .brand_content h2{
    font-size: 46px;
}
.brand .brand_content p{
    color: #5a5a5a;
    padding-bottom: 30px;
}
.brand a.btn {
    color: white;
    background-color: #dc4f72;
}

/* COMMUNITY */
.community_text {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.community_text h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.community_text p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
}
.community_btn .btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}
.community_btn .btn {
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 20px;
    transition: all 1s;
    text-transform: uppercase;
}
.community_btn .btn-outline-primary.left:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.community_btn .left a:hover{
    outline: 0;
}
.community_btn .btn-outline-primary.right {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.community_btn .btn-outline-primary.right:hover {
    background-color: #d62f58;
    border-color: #cf2952;
}



/* foooter */
footer h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}
.footer_item li a {
    color: #656f7b;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-decoration: none;
}
footer h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}
footer input[type="email"] {
    padding: 12px 20px;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    outline: 0;
}
footer button {
    background: #dc4f72;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    outline: 0;
}
footer p {
    line-height: 22px;
    color: #5a5a5a;
}

.footer_icon li a {
    color: #2C3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
footer i {
    font-size: 15px;
    line-height: 36px;
}
footer a:hover {
    color: #dc4f72 !important;
    transition: 0.5s ease;
}

/* breadcrumb  */
.breadcrumb_home{
    background-color: #F8F9FA;
    padding: 15px;
}
.breadcrumb_home nav a{
    color: #DC4F72;
    text-decoration: none;
    transition: all 0.3s;
}
.breadcrumb_home nav a:hover{
    text-decoration: underline;
}
